<!DOCTYPE html>
<html lang="en">
<head>
  <title>PDF</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
</head>
<style type="text/css">
    h1{
        text-align: center;
    }
    .select_option {
        float: right;
    }
    #pdf_content{
      text-align: center;
    }
    #iframe_content{
      width:90%;
      height: 700px;
      border: 1px solid #999;
    }
    .ui-dialog-titlebar{
      background-color: orange;
    }
    #dialog{
    width: auto;
    min-height: 60px !important;
    max-height: none;
    height: 71px !important;
    }
</style>
<body>
<h1> Detect Object</h1>
<!--File upload for popup model  -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<span>Choose the Objects: </span>
<div class="select_option" style="float:left;">
	<select id="select_color" multiple="multiple">
	{% for obj in objects %}
	  <option value="{{obj}}">{{obj}}</option>  
    {% endfor %}
	</select>
</div>
<br><br>
<div id="selected_count"></div>
<div id="myspan"></div>
<div contenteditable="true" id="pdf_contents"></div>
<input type="hidden" name="hidden_pdf_name" id="hidden_pdf_name" value="{% if pdf_file %}{{pdf_file}}{% endif %}">
<!-- <div id="pdf_content">{% if pdf_file %}<iframe id="iframe_content" src="/showhtml/{{pdf_file}}" width="100%" height="500px"></iframe>{% endif %}</div> -->
</body>
<!-- Load script jquery,validate,addmethodjs,bootstrap js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>
<script type="text/javascript">
$( document ).ready(function() {
	var token = '{{csrf_token}}';
	$('select').on('change', function(e) {
	  var selected = $(e.target).val();
	  console.log(selected)
	  $.ajax({
  			headers: { "X-CSRFToken": token },
  			url: "{% url 'detect' %}",
  			data: {res:selected},
  			type: 'post',
  			datatype:'json',
  			success: function(response){
  				console.log(response);
  			},
  			error: function(error){
  				console.log(error);
  			}
	  		});
	});
});
</script>